<div class="img-responsive img-circle hedcut"></div>
<div class="social text-center">
    <p>
        写点什么，促进对事物的认知。
    </p>
    <p>
        <a href="mailto:{{ site.email }}" title="email" target="_blank">Email</a>&nbsp;&nbsp;
        <a href="http://github.com/{{ site.github_username }}" title="github" target="_blank">GitHub</a>&nbsp;&nbsp;
        <a href="http://wpa.qq.com/msgrd?V=1&Uin={{ site.qq_id }}" title="QQ" target="_blank">QQ</a>&nbsp;&nbsp;
        <a href="http://www.weibo.com/u/{{ site.sinaweibo_id }}" title="weibo" target="_blank">Weibo</a>
    </p>
    <p>
        {% comment %}
        <a href="https://raw.githubusercontent.com/HereChen/resume/master/resume.pdf"><button class="btn btn-primary">PDF简历</button></a>&nbsp;
        <a href="resume/"><button class="btn btn-warning">在线简历</button></a>&nbsp;
        <a href="https://github.com/HereChen/resume"><button class="btn btn-default">简历源码</button></a>
        {% endcomment %}
    </p>
</div>