<section id="projects">
    <div class="row">
        <div class="col-md-1">
            <div class="section-title">
                <div class="section-icon">
                    <i class="fa fa-rocket"></i>
                </div>

                <div class="title">
                    <h4>项目经历</h4>
                </div>
            </div>
        </div>

        <div class="col-md-11">
            <div class="box-wrapper">
                <div class="row">
                    <div class="col-md-4">
                        
                        {% include_relative include/projects/ScmieServicePlatform.html %}

                        {% include_relative include/projects/HandheldMedicalDevices.html %}

                    </div>

                    <div class="col-md-4">

                        {% include_relative include/projects/ScmieAutoPlatform.html %}

                    </div>

                    <div class="col-md-4">

                        {% include_relative include/projects/Restaurant.html %}
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>