---
layout: compress
---
<!DOCTYPE html>
<html lang="zh-CN">
  {% include head.html %}
  <body>
    {% include header.html %}
    <div class="main">
      <div class="container {{ page.class }}" role="main">
        {{ content }}
      </div>
    </div>
    {% include footer.html %}
    <script src="{% if !site.debug %}/assets/lib/{% else %}//apps.bdimg.com/libs/{% endif %}jquery/2.1.1/jquery.min.js"></script>
    <script src="{% if !site.debug %}/assets/lib/{% else %}//apps.bdimg.com/libs/{% endif %}bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="{% if !site.debug %}{{ site.storage }}{% endif %}/assets/dist/js/main.min.js?v=1.41"></script>
  </body>
</html>
