---
layout: default
---

<!--h1 class="title">{{ page.title }}</h1-->
<link href="{% if site.debug %}{% else %}{{ site.storage }}{% endif %}/assets/dist/css/trip_detail.css?v={{ site.time }}" rel="stylesheet">
<div class="row post">
    <div class="col-md-9">
        <section class="post">
        	{{ content }}
        </section>
        <hr class="end-hr">
    </div>
    <div class="col-md-3 hidden-print hidden-xs hidden-sm">
        <div class="post-nav">
            <div class="nav-heading">行程安排</div>
            <div id="toc"></div>
        </div>
    </div>
</div>
